.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.text-center a {
  background: #000;
  color: #f39200;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.text-center a:hover {
  background: #f39200;
  color: #fff;
}

.project-card {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: scale(1.05);
}